.experience_main_container {
  width: 100%;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.heading-main {
  text-align: center;
}

.title-work {
  text-transform: uppercase;
  padding: 10px;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.2);
}

.company-name {
  display: block;
  font-size: 13px;
  font-weight: normal;
  margin-top: 5px;
  text-transform: capitalize;
  color: #555;
}

.second-main {
  margin-top: 20px;
  line-height: 1.6;
  font-size: 15px;
  font-weight: 400;
}

.technology-used {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.technology-used img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
