#Prashanth {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
#Prashanth img {
  width: 50%;
  object-fit: cover;
  border-radius: 5px;
  opacity: 5%;
}
.content-prashanth {
  font-size: 20px;
  font-weight: 500;

  width: 50%;
  text-align: left;
}
.name-content {
  font-size: 60px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  /* text-align: center; */
  text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}
/* From Uiverse.io by kosedagyazilim */
.button {
  display: inline-block;
  padding: 12px 28px;
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to bottom right, #00c6ff, #0072ff);
  border: none;
  border-radius: 40px;
  box-shadow: 0px 4px 0px #0072ff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: 5px 0px 0px 12px;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 0px #0072ff;
}

.button:active {
  transform: translateY(0px);
  box-shadow: none;
  background-image: linear-gradient(to bottom right, #0072ff, #00c6ff);
}
.content-of-mine {
  font-size: 18px;
  font-family: cursive;
}
